<div class="recent-pane recent-blog">
  <h2 class="recent-title">Recent Blog Posts</h2>
  <ul>
    {{ range first 3 (where (where .Site.Pages "Section" "=" "blog") ".Params.unlisted" "!=" true) }}
      <li>
        <a href="{{ .Permalink }}" title="{{ .Description }}">{{ .Title }}</a>
        <div class="recent-date">{{ .Date.Format "January 2, 2006" }}</div>
        <blockquote>{{ .Summary }}</blockquote>
      </li>
    {{ end }}
  </ul>
</div><div class="recent-pane recent-git">
  <h2 class="recent-title">Recent Commits</h2>
  <ul>
    {{ range first 8 (where .Site.RegularPages "Section" "=" "commit") }}
      <li>
        <div class="recent-git-meta">
            <a href="https://code.austinjadams.com/{{ .Params.repo }}/">{{ .Params.repo }}</a>
            <span class="recent-date">{{ .Date.Format "2006-01-02" }}:</span>
        </div>
        <a class="recent-git-summary" href="https://code.austinjadams.com/{{ .Params.repo }}/commit/?id={{ .Params.hash }}">{{ .Params.summary }}</a>
      </li>
    {{ end }}
  </ul>
</div>
